# Manipulating Iris Data with Pandas

In [35]:
import io
import pandas as pd
import requests

In [32]:
#importing the iris data from url
iris = requests.get('http://eaton-lab.org/data/iris-data-dirty.csv').content
iris = iris.decode()

In [38]:
iris_pd = pd.read_csv(io.StringIO(iris), names = ("sep.l", "sep.w", "pet.l", "pet.w", "species"))
iris_pd.head()

   sep.l  sep.w  pet.l  pet.w      species
0    5.1    3.5    1.4    0.2  Iris-setosa
1    4.9    3.0    1.4    0.2  Iris-setosa
2    4.7    3.2    1.3    0.2  Iris-setosa
3    4.6    3.1    1.5    0.2  Iris-setosa
4    5.0    3.6    1.4    0.2  Iris-setosa

In [53]:
iris_clean = iris_pd.replace("Iris-setsa", "Iris-setosa").replace("Iris-versicolour", "Iris-versicolor").dropna()
iris_clean

     sep.l  sep.w  pet.l  pet.w         species
0      5.1    3.5    1.4    0.2     Iris-setosa
1      4.9    3.0    1.4    0.2     Iris-setosa
2      4.7    3.2    1.3    0.2     Iris-setosa
3      4.6    3.1    1.5    0.2     Iris-setosa
4      5.0    3.6    1.4    0.2     Iris-setosa
..     ...    ...    ...    ...             ...
145    6.7    3.0    5.2    2.3  Iris-virginica
146    6.3    2.5    5.0    1.9  Iris-virginica
147    6.5    3.0    5.2    2.0  Iris-virginica
148    6.2    3.4    5.4    2.3  Iris-virginica
149    5.9    3.0    5.1    1.8  Iris-virginica

[148 rows x 5 columns]

In [55]:
iris_clean.describe()

            sep.l       sep.w       pet.l       pet.w
count  148.000000  148.000000  148.000000  148.000000
mean     5.841892    3.058108    3.748649    1.195946
std      0.832586    0.434094    1.773635    0.767882
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.575000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [65]:
for sp_var, sp_name in iris_clean.groupby("species"):
    print(f"{sp_var}")
    print(sp_name.describe())

Iris-setosa
          sep.l      sep.w      pet.l     pet.w
count  50.00000  50.000000  50.000000  50.00000
mean    5.00600   3.418000   1.464000   0.24400
std     0.35249   0.381024   0.173511   0.10721
min     4.30000   2.300000   1.000000   0.10000
25%     4.80000   3.125000   1.400000   0.20000
50%     5.00000   3.400000   1.500000   0.20000
75%     5.20000   3.675000   1.575000   0.30000
max     5.80000   4.400000   1.900000   0.60000
Iris-versicolor
           sep.l      sep.w      pet.l      pet.w
count  48.000000  48.000000  48.000000  48.000000
mean    5.935417   2.770833   4.250000   1.322917
std     0.522062   0.316200   0.469948   0.200255
min     4.900000   2.000000   3.000000   1.000000
25%     5.600000   2.575000   4.000000   1.200000
50%     5.900000   2.800000   4.350000   1.300000
75%     6.300000   3.000000   4.600000   1.500000
max     7.000000   3.400000   5.100000   1.800000
Iris-virginica
          sep.l      sep.w      pet.l     pet.w
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000